<a href="https://colab.research.google.com/github/stephenquadross/weather_data_analysis_luxacad_week1/blob/main/weather_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing and sourcing data from kaggle

In [4]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.7)

Loading Dataset from Kaggle

In [5]:
!kaggle datasets download ayushmi77al/weather-data-set-for-beginners

Dataset URL: https://www.kaggle.com/datasets/ayushmi77al/weather-data-set-for-beginners
License(s): unknown
Downloading weather-data-set-for-beginners.zip to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 37.2MB/s]

Unziping Weather Dataset

In [6]:
!unzip /content/weather-data-set-for-beginners.zip

Archive:  /content/weather-data-set-for-beginners.zip
  inflating: 1. Weather Data.csv

Importing Libraries & Loading Dataset

In [7]:
import pandas as pd
import numpy as np
data = pd.read_csv("1. Weather Data.csv")
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

weather record for the day in which clear

In [8]:
clear_weather = data[data['Weather'] == 'Clear']
print(clear_weather)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
67      1/3/2012 19:00   -16.9             -24.8         50               24
114     1/5/2012 18:00    -7.1             -14.4         56               11
115     1/5/2012 19:00    -9.2             -15.4         61                7
116     1/5/2012 20:00    -9.8             -15.7         62                9
117     1/5/2012 21:00    -9.0             -14.8         63               13
...                ...     ...               ...        ...              ...
8646   12/26/2012 6:00   -13.4             -14.8         89                4
8698  12/28/2012 10:00    -6.1              -8.6         82               19
8713   12/29/2012 1:00   -11.9             -13.6         87               11
8714   12/29/2012 2:00   -11.8             -13.1         90               13
8756  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
67             25.0     101.74   Clear
114            25.0     100.71   Clear
115            25.0     100.80   Clear
116            25.0     100.83   Clear
117            25.0     100.83   Clear
...             ...        ...     ...
8646           25.0     102.47   Clear
8698           24.1     101.27   Clear
8713           25.0     101.31   Clear
8714           25.0     101.33   Clear
8756           25.0     101.52   Clear

[1326 rows x 8 columns]

Number of times the wind speed was exactly 4 km/hr.

In [9]:
wind_speed_4 = data[data['Wind Speed_km/h']== 4]
count_wind_speed_4 = len(wind_speed_4)
print('number of times the wind speed was 4 km/h is ' + str(count_wind_speed_4) + ' times')

number of times the wind speed was 4 km/h is 474 times

Checking if there are any NULL values present in the dataset.

In [10]:
null_value = data.isnull()
null_values = len(null_value)
print('Yes! There are ' + str(null_values)+ ' null-values')

Yes! There are 8784 null-values

Renaming Weather to weather_condition

In [11]:
data.rename(columns={'Weather': 'Weather_Condition'}, inplace = True)
print('updated column names: ' + data.columns)

Index(['updated column names: Date/Time', 'updated column names: Temp_C',
       'updated column names: Dew Point Temp_C',
       'updated column names: Rel Hum_%',
       'updated column names: Wind Speed_km/h',
       'updated column names: Visibility_km',
       'updated column names: Press_kPa',
       'updated column names: Weather_Condition'],
      dtype='object')

The mean visibility of the dataset

In [12]:
data['Visibility_km'] = pd.to_numeric(data['Visibility_km'], errors='coerce')
mean_visibility = data['Visibility_km'].mean()
print('Mean visibility of the dataset: ', mean_visibility)

Mean visibility of the dataset:  27.664446721311478

number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

In [13]:
wind24_visibility25 = len(data[(data['Wind Speed_km/h']>24) & (data['Visibility_km'] == 25)])
print('there are: ',wind24_visibility25, 'records with winds greater than 24km/h and Visibility of 25')

there are:  308 records with winds greater than 24km/h and Visibility of 25

**The mean value of each column for each weather condition?**

In [15]:
mean_values = data.groupby('Weather_Condition').mean()
print('Mean value of each column for each weather condition: ', mean_values)

TypeError: agg function failed [how->mean,dtype->object]

**Instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.**

In [16]:
clear_humid50_visibility40 = data[(data['Weather_Condition'] == 'Clear') & (data['Rel Hum_%'] > 50) | (data['Visibility_km'] > 40)]
print(clear_humid50_visibility40)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
106     1/5/2012 10:00    -6.0             -10.0         73               17
107     1/5/2012 11:00    -5.6             -10.2         70               22
108     1/5/2012 12:00    -4.7              -9.6         69               20
109     1/5/2012 13:00    -4.4              -9.7         66               26
110     1/5/2012 14:00    -5.1             -10.7         65               22
...                ...     ...               ...        ...              ...
8749  12/30/2012 13:00   -12.4             -16.2         73               37
8750  12/30/2012 14:00   -11.8             -16.1         70               37
8751  12/30/2012 15:00   -11.3             -15.6         70               32
8752  12/30/2012 16:00   -11.4             -15.5         72               26
8756  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather_Condition
106            48.3     100.45      Mainly Clear
107            48.3     100.41      Mainly Clear
108            48.3     100.38      Mainly Clear
109            48.3     100.40      Mainly Clear
110            48.3     100.46      Mainly Clear
...             ...        ...               ...
8749           48.3     100.92     Mostly Cloudy
8750           48.3     100.96      Mainly Clear
8751           48.3     101.05      Mainly Clear
8752           48.3     101.15      Mainly Clear
8756           25.0     101.52             Clear

[2921 rows x 8 columns]

Number of weather conditions that include snow

In [17]:
no_of_snow = len(data[data['Weather_Condition'] == 'Snow'])
print('Number of weather conditions that include snow: ', no_of_snow)

Number of weather conditions that include snow:  390